.register{
    padding-top: 20px;
}

.dugme{
    width: 300px;
}

.ob{
    padding-top: 20px;
}

.err1{
    padding-top: 15px;
}

.err2{
    padding-top: 15px;
}

.klasa3{
    font-size: large;
    color: rgb(61, 21, 21);
    padding-top: 20px;
    padding-bottom: 20px;
}